.flex-container {
  display: flex;
  margin: 25% 12.5%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 50vh;
  border: #000 1px solid;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;

  /* showing only 3 items per row */
  /* flex: 0 0 33.3333%; */
}
.box1 {
  background-color: #007bff;
  justify-self: end;
}
.box2 {
  background-color: #28a745;
  align-self: end;
}
.box3 {
  background-color: #dc3545;
}
