.flex-container {
  display: flex;
  margin: 25% 12.5%;
  border: #000 1px solid;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.box:nth-child(1) {
  flex-shrink: 1;
}

/* .box:nth-child(1) {
  align-self: start;
} */

/* .box:nth-of-type(odd) {
  align-self: end;
} */

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;

  /* showing only 3 items per row */
  /* flex: 0 0 20%; */
}

/* .box:nth-last-child(odd) {
  align-self: center;
} */

.box1 {
  background-color: #007bff;
}
.box2 {
  background-color: #28a745;
}
.box3 {
  background-color: #dc3545;
}
